.ui-header .ui-title { margin-right:20px; margin-left:20px; }
.ui-footer .ui-title { margin-right:20px; margin-left:20px; white-space:normal; }
.ui-btn-inner { padding: .6em 7px; }
.ui-body-e { border: 1px solid #66eedd; color: #222222; text-shadow: 0 0px 0 #fff; background: #c2e4d2; }
.ui-block-b{width:100px}


input.ui-input-text, textarea.ui-input-text{
	border-radius :0;
	height	: 42px;
	background-color:#eae6e2;
	border	: 2px solid #cac0b6;
	color		: #787878;
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	font-weight	:bold;
	font-size	: 16px;
}

body { -webkit-touch-callout: none !important;}
a { -webkit-user-select: none !important;}

/***************** Page Background **********************************/
.custom-content {
 	background-color:none ; 
    background-size:100% 100%; 
	background-repeat: no-repeat; 
	background-image: url(../images/background.png);
	word-wrap : break-word;
}

/***************** Navigation Bar **********************************/
.custom-navbar-1 {
	background-color:none ; 
	background-size:100% 100%; 
	background-repeat:repeat; 
	background-image: url(../images/navigation_bar.png);
	border-radius:0em 0em 0em 0em ;
	color: rgb(255, 255, 255);
	text-shadow	:none;
	height	: 42px;
}


 body .ui-header .ui-title {
 
 }

.ui-header .ui-title{
	font-family:Helvetica;
	font-size: 20px;
	font-weight	:bold;
	white-space: normal;
	margin-top	:9px;
}



.custom-tabbar-1 {
	background-size	: 100% 100%; 
	background-repeat: repeat; 
	border-radius	: 0em ;
	border-width 	: 0px;
	height			: 50px;
}

.custom-tabbar-1  td {
	padding		: 0px;
	margin		: 0px;
	text-align	: center;
	height		: 50px;
	
}

.custom-tabbar-1  img {
	width	: 100%;
	height	: 50px;
}

.custom-tabbar-1  label {
	position	: absolute; 
  	bottom		: 0px; 
   	width		: 25%; 
   	font-size	: 10px;
   	margin-left	: -25%;
   	font-weight	: bold;
   	color		: #c8c8c8;
   	text-shadow	: 0px -2px 0px rgba(0, 0, 0, 0.75);
}

.custom-tabbar-1 .isActiveTab  label {
	
   	color		: #f7d117;
}

/***************** custom-tabButton-1 **********************************/

div[data-theme="custom-tabButton-1"]  .ui-btn-corner-all {
    border: none;
    background-color:none ; 
    background-size:100% 100%; 
	background-repeat: no-repeat; 
	border-radius:0em;
	height:40px;
    padding:0px;
    background-image: url(../images/tab/branches-en.png);
}
div[data-theme="custom-tabButton-1"] span .ui-btn-text  {
	
	data-shadow:false;
	border: none; 
	/* font-size:10px; */
	color: white;
	margin-bottom	:0;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgb(30,45,15);
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	background-image: none;
	background-color:none ;
}

div[data-theme="custom-tabButton-1"] {
	border-radius:0em;
	border: none; 
	background-color:transparent ;
	data-corners:false;
	data-shadow:false;
	background-size:100% 100%; 
	background-repeat: no-repeat; 
	
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	
}

.ui-header > div[data-theme="custom-tabButton-1"].ui-btn,  div[data-theme="custom-tabButton-1"].ui-btn{
	margin	:0px;
}

/***************** Back Button Theme ******************************/
/* button background and borders color */
a[data-theme="app-ios"] {
    border: none;
    }
    
a[data-theme="app-ios"] .ui-btn-corner-all {
    border: none;
    background-color:none ; 
    background-size:100% 100%; 
	background-repeat: no-repeat; 
	background-image: url(../images/back-btn.png);
	border-radius:0em;
	width:60px;
	height:30px;
    padding:0px;
}


/* shadows and label color */
a[data-theme="app-ios"].ui-shadow,
a[data-theme="app-ios"] {
    box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
    background-clip: none; -webkit-background-clip: none; -moz-background-clip: none;
    color: rgb(255, 255, 255);
    /*font-family:Helvetica;
    font-weight: bold;*/
    font-family:Trebuchet MS;
    top: 6px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
    }
/* make room for the point */
a[data-theme="app-ios"].ui-btn-left {
	left: 5px;
}
	
a[data-theme="app-ios"].ui-btn-left .ui-btn-corner-all {
        padding-left: 5px !important;
}
		
a[data-theme="app-ios"] span .ui-btn-text  {
	 top:7px; 
	 font-size:10pt;
}

/* Active State */
.aBtnSelector[data-theme="app-ios"] {
	 background: none !important; 
	 background-color: none !important; 
}

.aBtnSelector[data-theme="app-ios"] .ui-btn-corner-all{
	background-image: url(../images/back-active.png);
}
/***************** Login ******************************/

.loginLogoDiv{
	margin-bottom:-3px; 
}


[class~="costum-input-row"] {
	background:#EAE6E2;
	
}

[class~="costum-input-row-error"] {
	background:rgb(232,202,202);
}

input.ui-input-text.custom-text-input{
	border-radius:0em;
	border: none;
	background-color:transparent;
	padding-left:30px;
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	margin:0;
	font-family:Helvetica;
    font-weight: bold;
    font-size:15px;
    color : black;
    text-shadow	:none;
}

.yellowheader{
	/*margin:-15px  0px 15px 0;*/
	font-size	:14pt;
/* 	margin-left :2%; */
	margin-top :2%;
	text-align	:left;
	font-weight	:normal;
	color		:rgb(192, 206, 0);
	width		:50%; 
	text-shadow	:none;
}

.textbox-hint-img{
	position:absolute;
	top:12px; 
	left:10px;
	width:18px;
	height:16px;
}

.costum-input-row{
	background-size:100% 100%; 
	background-repeat: no-repeat; 
}

.costum-input-row.ui-li-static.ui-li {
    padding-top:0px;
    padding-bottom:0px;
    border-radius	:0;
}

[class~="custom-forget-btn"] {
   background-color: #333333; 
   /* background-image: url(images/fallback-gradient.png); 
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBFAF7), to(#E6E1Cf));
   background-image: -webkit-linear-gradient(top, #FBFAF7, #E6E1Cf); 
   background-image:    -moz-linear-gradient(top, #FBFAF7, #E6E1Cf);
   background-image:     -ms-linear-gradient(top, #FBFAF7, #E6E1Cf);
   background-image:      -o-linear-gradient(top, #FBFAF7, #E6E1Cf); */
	
	
}

.custom-forget-btn{
	padding:10px;
	margin:1em 0em;
	font-size:10pt;
	font-family:Helvetica;
    font-weight: normal;
    border-radius:0.5em;
    color:white;
}


#registerBtn div[data-theme="custom-button-1"]{
	margin:5em;
}



.loginBtnLB {
	color:#ffffff;
	font-size	: 15px;
}


.loginLogo{
	width		:75%;
	max-width	:341px;
	margin-top	:5px;
}

/***************** Bills List ******************************/

.billList_a{
	width		:5%;
	max-width	:5%;
	
}

.billList_b{
	width		:40%;
	
	text-overflow	: ellipsis;
	overflow		: hidden;
	white-space		: normal;
	word-wrap		: break-word;
}

.billList_c{
	width		:40%;
	
	text-overflow	: ellipsis;
	overflow		: hidden;
	white-space		: normal;
	word-wrap		: break-word;
	text-align		:center;
	
}


.my_icon_wrapper {
        float: left; 
        width: 80px; height: 80px;
        text-align: center; 
        vertical-align: middle; 
}

.ellipsis,
.ellipsis .ui-header .ui-title, 
.ellipsis .ui-footer .ui-title,
.ellipsis .ui-btn-inner,
.ellipsis .ui-select .ui-btn-text,
.ellipsis .ui-li .ui-btn-text a.ui-link-inherit,
.ellipsis .ui-li-heading,
.nellipsis .ui-li-desc {
	text-overflow	: ellipsis;
	overflow		: hidden;
	white-space		: normal;
}

.billList_name{
	color		:white;
	text-shadow	:none;
	font-size	:14pt;
	
	
}

.billList_number{
	color		:white;
	text-shadow	:none;
	font-size	:12px;
	
}

.billList_amount{
	color		:red;
	text-shadow	:none;
	font-size	:14pt;
	display		: block;
	text-align	:right;
	font-weight: bold;
	margin-top	: 10px;
}


.billList_company{
	color		:white;
	text-shadow	:none;
	font-size	:12px;
	text-shadow	:none;
	font-family :Helvetica;
	font-weight	:normal;
}

.billDetailsDueDateValDiv{
	margin		: 5px;
	color		: rgb(204,204,204);
	font-size	:12px;
	text-shadow	:none;
	font-family :Helvetica;
	font-weight	:normal;
}

#billDetailsFavImgDiv{
	margin		: 5px;
	text-align	: right;
}

#billDetailsStatusDiv{
	float : left;
}

#billDetailsFavImg{
	width		: 50px;
	margin-right: 15px;
}

.billDetails_month{
	font-size	:18px; 
	font-family :Helvetica;
	font-weight	:normal;
	color		:rgb(192, 206, 0);
	text-shadow	:none;
}

.billDetails_status{
	font-size	:18px; 
	font-family :Helvetica;
	font-weight	:bold;
	color		:RGB(151,30,35);
	text-shadow	:none;
}

.billDetailsStatusSec{
	background-color	: rgb(50,50,50);
	padding				: 5px;
	padding-left		: 10px;
}

.billDetailsCenterSec{
	text-align		:center;
	margin			: 20px 0px;
}

.billDetailsTitle{
	margin-bottom 	:5px;
}

.newBillConfirmTitle{
	color		: rgb(204,204,204);
	font-size	:12px;
	text-shadow	:none;
	font-family :Helvetica;
	font-weight	:normal;
}

.payBillSumRefNum{
	font-size	:14pt; 
	font-family :Helvetica;
	font-weight	:normal;
	color		:rgb(192, 206, 0);
	text-shadow	:none;
}

.payBillSumStatus{
	font-size	:14pt; 
	font-family :Helvetica;
	font-weight	:normal;
	color		:red;
	text-shadow	:none;
}

/***************** Custom customList1 ******************************/
/* .customList1 a.ui-link-inherit */
/* { */
/* 	color:#BBBBBB; */
/* } */
/* .ui-content .ui-listview { */
/* margin: 1%; */
/* margin-top: 0; */
/* } */
/* .customList1 .ui-btn-hover-c{ */
/* 	color			:black; */
/* 	background-image:none; */
/*  	background		:black; */
/*  	border-color	:black; */
/* } */

/* .customList1 .ui-btn-down-c{ */
/* 	color			:black; */
/* 	background-image:none; */
/*  	background		:black; */
/*  	border-color	:black; */
/* } */

/* .customList1 .ui-btn-up-c{ */
/* 	color			:black; */
/* 	background-image:none; */
/*  	background		:#D3C9BD; */
/*  	border-color	:black; */
/* } */

/* .customList1 .ui-li{ */
/*     border-width:0px; */
/*     border-color:none; */
/* } */
/***************************** Custom Theme for Lists *******************************************/
.ui-btn-hover-custom{
	color			:black;
	background-image:none;
 	background		:#bdae9d;
 	border-color	:black;
}

.ui-btn-down-custom{
	color			:black;
	background-image:none;
 	background		:#bdae9d;
 	border-color	:black;
}

.ui-btn-up-custom{
	background-image:none;
 	background		:none;
 	border-color	:black;
}

.ui-li-custom{
    border-width:0px;
    border-color:none;
}

/************************************************************************/
.custom-list1 .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .custom-list1 .ui-li-static.ui-li-has-thumb{ 
	min-height	:30px;
	padding-left:40px;
	padding-bottom	:0px;
	padding-top	:1em;
} 

.custom-list1 .ui-li-thumb, .custom-list1 .ui-listview .ui-li-icon{ 
	top	:10px;
	margin	: 5px;
	width	: 20px;
}



/************************************************************************/
/* set all lists border-width to 0 */
.ui-li, .ui-li.ui-field-contain{
	border-width	: 0;
}
/***************** Custom Button ******************************/
/*.custom-button {
	background-color:none ; 
	background-size:100% 100%; 
	background-repeat:no-repeat; 
	background-image: url(../images/button1.png);
	border: none;
	data-corners: false;
	border-radius:0.3em;
	width:60px;
	height:35px;
	
}*/
a[data-theme="large-custom-button"] {
    border: none;
    }
    
a[data-theme="large-custom-button"] .ui-btn-corner-all {
    border: none;
    background-color:none ; 
    background-size:100% 100%; 
	background-repeat: no-repeat; 
	background-image: url(../images/button1.png);
	border-radius:0em;
	width:150px;
	height:35px;
    padding:0px;
}

/* shadows and label color */
a[data-theme="large-custom-button"].ui-shadow,
a[data-theme="large-custom-button"] {
    box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
    background-clip: none; -webkit-background-clip: none; -moz-background-clip: none;
    color: rgb(255, 255, 255);
    /*font-family:Helvetica;
    font-weight: bold;*/
    font-family:Trebuchet MS;
    top: 10px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
    }
/* make room for the point */
a[data-theme="large-custom-button"].ui-btn-right {
	right: 14px;
}
	
a[data-theme="large-custom-button"].ui-btn-right .ui-btn-corner-all {
        padding-right: 5px !important;
}
		
a[data-theme="large-custom-button"] span .ui-btn-text  {
	 top:20%; 
	 font-size:12pt;
}










a[data-theme="custom-button"] {
    border: none;
    }
    
a[data-theme="custom-button"] .ui-btn-corner-all {
    border: none;
    background-color:none ; 
    background-size:100% 100%; 
	background-repeat: no-repeat; 
	border-radius:0em;
	width:55px;
	height:30px;
    padding:0px;
    padding-right: 5px !important;
}

a[data-theme="custom-button"] .ui-btn-corner-all {
	background-image: url(../images/custom-btn.png);
}

/* shadows and label color */
a[data-theme="custom-button"].ui-shadow,
a[data-theme="custom-button"] {
    box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
    background-clip: none; -webkit-background-clip: none; -moz-background-clip: none;
    color: rgb(255, 255, 255);
    /*font-family:Helvetica;
    font-weight: bold;*/
    font-family:Trebuchet MS;
    top: 5px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
    }
/* make room for the point */
a[data-theme="custom-button"].ui-btn-right {
	right: 7px;
}
	
a[data-theme="custom-button"].ui-btn-right .ui-btn-corner-all {
       /*  padding-right: 5px !important; */
        padding-left: 5px !important;
}
		
a[data-theme="custom-button"] span .ui-btn-text  {
	 top:20%; 
	 font-size:10pt;
	 text-align: center;
}


.ui-btn-up-custom-button{
	background-image: url(../images/custom-btn.png);
}

.ui-btn-down-custom-button,.ui-btn-hover-custom-button,.ui-btn-active-custom-button,.aBtnSelector-custom-button{
	background-image: url(../images/custom-btn-active.png);
}



.select
{
    
    background: url(../images/list.png) rgba(0,0,0,0); 
      
}

/***************** custom-button-1 **********************************/


div[data-theme="custom-button-1"] span .ui-btn-text  {
	
	data-shadow:false;
	border: none; 
	font-size:15px;
	color: #ffffff;
	font-weight: bold;
	text-shadow: none;
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	background-image: none;
	background-color:none ;
	
}

div[data-theme="custom-button-1"]  {
	border-radius:0em;
	border: none; 
	background-color:transparent ;
	data-corners:false;
	data-shadow:false;
	background-size:100% 100%; 
	background-repeat: no-repeat; 
	
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	height	: 37px
}


div[data-theme="custom-button-1"] .ui-btn-inner{
	padding-top	: 0.6em;
}


.ui-btn-up-custom-button-1, .ui-btn-hover-custom-button-1{
	background-image: url(../images/button.png);
}

/* Active State */
.ui-btn-down-custom-button-1,.ui-btn-active-custom-button-1,.aBtnSelector,.aBtnSelector-custom-button-1{
	background-image: url(../images/button-active.png);
}


/***************** custom-button-2 **********************************/

div[data-theme="custom-button-2"] span .ui-btn-text  {
	
	data-shadow:false;
	border: none; 
	font-size:20px;
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgb(30,45,15);
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	background-image: none;
	background-color:none ;
	
}

div[data-theme="custom-button-2"] {
	border-radius:0em;
	border: none; 
	background-color:transparent ;
	data-corners:false;
	data-shadow:false;
	background-size:100% 100%; 
	background-repeat: no-repeat; 
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	height	: 43px;
	
	margin-top	: 20px;
}

.ui-header > div[data-theme="custom-button-2"].ui-btn, .ui-footer > div[data-theme="custom-button-2"].ui-btn{
	width		: 80%;
	margin		: 5px;

}


.ui-btn-up-custom-button-2, .ui-btn-hover-custom-button-2{
	background-image: url(../images/button.png);
}

/* Active State */
.ui-btn-down-custom-button-2,.ui-btn-active-custom-button-2,.aBtnSelector,.aBtnSelector-custom-button-2{
	background-image: url(../images/button-active.png);
}


/***************** custom-button-3 **********************************/


div[data-theme="custom-button-3"] span .ui-btn-text  {
	
	data-shadow:false;
	border: none; 
	font-size:15px;
	color: #ffffff;
	font-weight: bold;
	text-shadow: none;
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	background-image: none;
	background-color:none ;
	
}

div[data-theme="custom-button-3"]  {
	border-radius:0em;
	border: none; 
	background-color:transparent ;
	data-corners:false;
	data-shadow:false;
	background-size:100% 100%; 
	background-repeat: no-repeat; 
	
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	height	: 37px
}


div[data-theme="custom-button-3"] .ui-btn-inner{
	padding-top	: 0.6em;
}


.ui-btn-up-custom-button-3, .ui-btn-hover-custom-button-3{
	background-image: url(../images/button3.png);
}

/* Active State */
.ui-btn-down-custom-button-3,.ui-btn-active-custom-button-3,.aBtnSelector,.aBtnSelector-custom-button-3{
	background-image: url(../images/button3-active.png);
}

/***************************************/

div[data-theme="confirm-button"] span .ui-btn-text  {
	data-shadow:false;
	border: none; 
	font-size:15px;
	font-family:Helvetica;
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgb(30,45,15);
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	background-image: none;
	background-color:none ;
}

div[data-theme="confirm-button"] {
	border-radius:0em;
	border: none; 
	background-color:transparent ;
	data-corners:false;
	data-shadow:false;
	background-size:100% 100%; 
	background-repeat: no-repeat; 
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	
	height	: 37px
}

.ui-header > div[data-theme="confirm-button"].ui-btn, .ui-footer > div[data-theme="confirm-button"].ui-btn{
	width		: 80%;
	margin		: 5px;

}

.ui-btn-up-confirm-button, .ui-btn-hover-confirm-button{
	background-image: url(../images/confirmbutton.png);
}

/* Active State */
.ui-btn-down-confirm-button,.ui-btn-active-confirm-button,.aBtnSelector,.aBtnSelector-confirm-button{
	background-image: url(../images/confirmbutton-active.png);
}

/***************************************/

div[data-theme="red-button"] span .ui-btn-text  {
	data-shadow:false;
	border: none; 
	font-size:18pt;
	font-family:Helvetica;
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgb(30,45,15);
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	background-image: none;
	background-color:none ;
}

div[data-theme="red-button"] {
	border-radius:0.5em;
	border: none; 
	background-color:transparent ;
	data-corners:false;
	data-shadow:false;
	background-size:100% 100%; 
	background-repeat: no-repeat; 
	background-image: url(../images/confirmbutton.png);
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}

/***************************************/
div[data-theme="transFilterBt"] span .ui-btn-text  {
	
	data-shadow:false;
	border: none; 
	font-size:12pt;
	color: white;
	font-weight: bold;
	text-shadow: none;
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	background-image: none;
	background-color:none ;
}

div[data-theme="transFilterBt"] {
	border-radius:0em;
	border: none; 
	background-color:transparent ;
	data-corners:false;
	data-shadow:false;
	background-size:100% 100%; 
	background-repeat: no-repeat; 
	background-image: url(../images/button1.png);
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	width:55px;
	height:35px;
	right	: 4px;
    
}

div[data-theme="transFilterBt"] > .ui-btn-inner{
	padding:0.6em;
	border-radius:0em;
	border: none; 
}

/***************************************/
div[data-theme="transClearBt"] span .ui-btn-text  {
	
	data-shadow:false;
	border: none; 
	font-size:12pt;
	color: white;
	font-weight: bold;
	text-shadow:none;
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	background-image: none;
	background-color:none ;
}

div[data-theme="transClearBt"] {
	border-radius:0em;
	border: none; 
	background-color:transparent ;
	data-corners:false;
	data-shadow:false;
	background-size:100% 100%; 
	background-repeat: no-repeat; 
	background-image: url(../images/button1.png);
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	width:35px;
	height:35px;
	left	: 6px;
    
}

div[data-theme="transClearBt"] > .ui-btn-inner{
	padding:0.6em;
	border-radius:0em;
	border: none; 
}

/***************** Custom date ******************************/
input[data-theme="custom-date-1"] {
	
	background-repeat	: no-repeat; 
	background-image	: url("../images/date-icon.png");
	background-position	: 99% center;
	background-size		: 23px 80%;
	
}

input.ui-input-text[data-theme="custom-date-1"]{
	padding-right	: 30px;
}

/***************** Custom menu ******************************/

div[data-theme="custom-menu-1"] {
	border-radius:0em;
	data-corners:false;
	data-shadow:false;
 	max-width:100%;
 	max-height:100%;
 	background-color	: #eae6e2;
	background-repeat	: no-repeat; 
	background-image	: url("../images/droplistarrow.png");
	background-position	: 99% center;
	background-size		: 23px 80%;
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	border	: 2px solid #cac0b6;
	height	: 38px;
	
}


div[data-theme="custom-menu-1"] span .ui-btn-text  {
	
	data-shadow: true;
	border: none; 
	font-size:16px;
	font-weight:bold;
/* 	text-shadow: 0 -1px 0 rgb(30,45,15); */
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	background-image: none;
	background-color:none ;
	border-radius:0em;
	max-width:95%;
	color		: #787878;
}

div[data-theme="custom-menu-1"] span .ui-btn {
	
	display:inline;
}
.ui-select .ui-mini.ui-btn-icon-right .ui-btn-inner{
	padding-top		: 11px;
}

div[data-theme="custom-menu-1"] span .ui-icon ,
div[data-theme="custom-menu-1"] .ui-btn-icon-left > .ui-btn-inner > .ui-icon, .ui-btn-icon-right > .ui-btn-inner > .ui-icon,
.ui-select .ui-mini.ui-btn-icon-right .ui-icon {
	display:hidden;
	
}

.custom-select1 .ui-icon, .ui-icon-searchfield::after {
	background-image:none;
}

.custom-select2 .ui-btn{
	display:inline;
	border:none;
}

/***************** Custom List ******************************/



/***************** Custom Four Digit Password ******************************/
.forNumberPassword_left {
}

.forNumberPassword_middle{
}

.forNumberPassword_right{
}


.ui-focus,
.ui-btn:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.confirmScreenLabel{
	font-size: 14px;
	color:rgb(153, 153, 153);
}

.ui-grid-a > .ui-block-a.confirmScreenLabel {
	width:35%;
}

.ui-grid-a > .ui-block-b.confirmScreenValue {
	width:65%;
	word-wrap: break-word;
}

.aBtnSelector{
	 background: none !important; 
	 background-color: gray !important; 
	 text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #ffffff /*{a-bup-shadow-color}*/;
}

/***************** Custom hr ******************************/
hr.splitter {
	height: 3px;
    border: 0;
    background-image:url(../images/border.png);
    background-repeat: none;
}

.ui-listview > hr.splitter {
	margin		: 0px;
}

hr.splitter.loginFormSplitter{
	background-image:url(../images/loginFormSeperator.png);
	
}

.ui-listview > hr.splitter.loginFormSplitter{
	margin:0 1px;
}

/***************** Text classes ******************************/


.white{
	color		:white;
	text-shadow	:none;
	font-size	:14pt;
}

.white12pt{
	color		:white;
	text-shadow	:none;
	font-size	:12pt;
}
.white14pt{
	color		:white;
	text-shadow	:none;
	font-size	:14pt;
}
.white16pt{
	color		:white;
	text-shadow	:none;
	font-size	:16pt;
}
.white18pt{
	color		:white;
	text-shadow	:none;
	font-size	:18pt;
}

.white14ptBold{
	color		:white;
	text-shadow	:none;
	font-size	:14pt;
	font-weight: bold;
}

.white14ptBold.ui-link-inherit{
	color		:white;
	text-shadow	:none;
	font-size	:14pt;
	font-weight: bold;
}

.white16ptBold{
	color		:white;
	text-shadow	:none;
	font-size	:16pt;
	font-weight: bold;
}
.gray14ptBold{
	color		:rgb(153, 153, 153);
	text-shadow	:none;
	font-size	:14pt;
	font-weight: bold;
}
.yellow16ptBold{
	color		:rgb(192, 206, 0);
	text-shadow	:none;
	font-size	:16pt;
	font-weight: bold;
}
.yellow14ptBold{
	color		:rgb(192, 206, 0);
	text-shadow	:none;
	font-size	:14pt;
	font-weight: bold;
}
.yellow12pt{
	color		:rgb(192, 206, 0);
	text-shadow	:none;
	font-size	:12pt;
}
.yellow12px{
	color		:rgb(192, 206, 0);
	text-shadow	:none;
	font-size	:12px;
}

.white12px{
	color		:white;
	text-shadow	:none;
	font-size	:12px;
}
.white18ptBold{
	color		:white;
	text-shadow	:none;
	font-size	:18pt;
	font-weight: bold;
}
.detailsPrompt14px{
	font-size	:14px; 
	text-align	:left;
	font-weight	:normal;
	color		:rgb(153, 153, 153);
	width		:30%; 
	text-shadow	:none;
}
.detailsValue16px{
	font-size	:16px; 
	text-align	:left;
	font-weight	:normal;
	color		:white;
	width		:70%; 
	text-shadow	:none;
}
.ui-grid-a > .ui-block-a.detailsPrompt14px {
	width:30%;
}
.ui-grid-a > .ui-block-b.detailsValue16px {
	width:70%;
}

.detailsPrompt40{
	font-size	:14px; 
	text-align	:left;
	font-weight	:normal;
	color		:rgb(153, 153, 153);
	width		:40%; 
	text-shadow	:none;
}
.detailsValue60{
	font-size	:16px; 
	text-align	:left;
	font-weight	:normal;
	color		:white;
	width		:60%; 
	text-shadow	:none;
}
.ui-grid-a > .ui-block-a.detailsPrompt40 {
	width:40%;
}
.ui-grid-a > .ui-block-b.detailsValue60 {
	width:60%;
}

.listDetailGray{
	font-size	:14px; 
	font-family :Helvetica;
	text-align	:left;
	font-weight	:normal;
	color		:rgb(153, 153, 153);
	text-shadow	:none;
}
.listDetailYellow{
	font-size	:14px; 
	font-family :Helvetica;
	text-align	:Right;
	font-weight	:normal;
	color		:rgb(192, 206, 0);
	text-shadow	:none;
}
.listDetailWhite{
	font-size	:16px; 
	font-family :Helvetica;
	text-align	:left;
	font-weight	:normal;
	color		:white;
	text-shadow	:none;
	width		:5%; 
}
.dateYear{
	font-size	: 12px;
	color		: rgb(204,204,204);
	text-shadow	: none;
	font-weight	: normal;
	text-align	: center;
}
/***************** Home page ******************************/
.homePageIcon{
	font-size	:8px; 
	text-align	:center;
	font-weight	:bold;
	color		:white;
	text-shadow	:none;
	font-family : arial;
}

.homePageIconActive{
	color		: #f7d117;
}

.homePageImg{
	max-width	:95%; 
	margin-top	:5px;
}

.badgeIconContainer{
	position:relative;
}

.badge{
	height		: 14px;
	min-width	: 14px;
	top			: 0;
	right		: 8%;
	float 		: right;
	margin-top	: -7px;
	margin-right: 3px;
	position 	: absolute;
	border		: 3px solid #fa6535;
	font-size 	: 12px;
	text-shadow	: none;
	color		: white;
	background-color	: #f93f03;
	background-size		: 100% 100%;
	text-align	: center;
}

.homePageLogo{
	width	:100%;
}
.homePageTD{
	width:25%; 
	white-space:nowrap;
}
.nativedatepicker{
	
}

.reqStar{
	color		: red;
	text-shadow	: none;
}

.ui-li .ui-btn-text a.ui-link-inherit{
	white-space:pre-wrap;
}

.alertsIcon{
	
}
.ipoDependantIcon{
	
}
.dialogIcon{
	
}

.ibanIcon{
	
}


.dynTimerCounter{
	font-size	:20pt;
	text-align	:center;
	font-weight	:bold;
	color		:rgb(192, 206, 0);
	text-shadow	:none;
	width		: 100%
}

.pswdindicatorborder {border: none; margin-bottom:1%}
.pswdindicatordefault {background: #F0F0F0; color: #B8B8B8;}
.pswdindicatortxt { font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; font-size: 11px; color: #91785b; text-shadow:none}


.dateSubLB{
	color		:white;
	text-shadow	:none;
	font-size	:12px;
}


/***************** Dialog ******************************/

.ui-simpledialog-container > .ui-bar-a{
	background	: none;
	text-shadow	: none;
}

.ui-simpledialog-container.ui-body-b, 
.ui-simpledialog-container.ui-overlay-b {
   	background-color	: transparant ; 
    background-size		: 100% 100%; 
	background-repeat	: no-repeat; 
	background-image	: url(../images/dialog-box.png);
}

.ui-simpledialog-container >.ui-header, .ui-simpledialog-container >.ui-footer{
	border-width	: 0;
	margin-top		: 0;
}

.ui-simpledialog-container{
	border	: 4px solid #bdae9d !important;
	border-radius	: 20px;
	color			: white;
	text-shadow		: none;
}

.ui-simpledialog-screen-modal{
	opacity	:0;
}

.ui-simpledialog-container > div {
	margin	: 10px;
}

.ui-simpledialog-container > .ui-header .ui-title{
	margin-top	: 7px;
}

.ui-simpledialog-container > .ui-overlay-shadow{
	box-shadow	: 0 8px 8px #000000;
}

/***************** Map ******************************/

#popupPanel-popup {
    bottom: 0 !important;
    top: auto !important;
}
#popupPanel {
    border: 0px solid #000;
    border-bottom: none;
    background: rgba(0,0,0,0.5);
    margin: 0 -1px ;
}

.mapNavBtns{
	background-color:transparent;
	height	: 50px;
}

#filterDiv{
	
	background-color:none ; 
    background-size:100% 100%; 
	background-repeat: no-repeat; 
	background-image: url(../images/background.png);
}


.mapCheckImg{
	width	: 25px;
	height	: 25px;
	margin-bottom	: -7px;
}

hr.splitter.mapfilterSplitter{
	background-image:url(../images/loginFormSeperator.png);
}

#mapFilterList{
	margin-top:10px;
}

/***************** Currency Page ******************************/
#curResultLB{
	font-size	: 18px; 
	color		: rgb(192, 206, 0);
	font-weight	: bold;
	text-shadow	: none;
}

.currBuy{
	font-size	: 16px;
	color		: green;
	font-weight	: bold;
	text-shadow	: none;
}

.currSell{
	font-size	: 16px;
	color		: red;
	font-weight	: bold;
	text-shadow	: none;
}


.currPrice{
	font-size	: 18px;
	color		: rgb(204, 204, 204);
	font-weight	: bold;
	text-shadow	: none;
}

.currName{
	font-size	: 15px;
	color		: white;
	text-shadow	: none;
}

.flagImg{
	margin	: 0 3px 0 3px;
	width	: 30px;
	height	: 20px;
}


/***************** custom-radio ******************************/

.ui-icon-shadow
{
	moz-box-shadow: 0 0 0 rgba(255, 255, 255, .4);
	-webkit-box-shadow: 0 0 0 rgba(255, 255, 255, .4);
	box-shadow: 0 0 0 rgba(255, 255, 255, .4);
}

.ui-icon, .ui-icon-searchfield::after {
	background-color:transparent;
	border-width:0px;
	border-radius:0px;
	-webkit-border-radius:0px;
}

.ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon, .ui-radio-off .ui-icon{
	background-color	: transparent;
}

.ui-icon-radio-off{
	background : url("../images/icons-18-white.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0.4);
	background-position	: -757px 50%;
}


.ui-icon-radio-on{
	background : url("../images/icons-18-white.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0.4);
	background-position	: -721px 50%;
}

.ui-li-link-alt .ui-btn{
	background:none repeat scroll 0 0 white
}

div[date-theme="custom-radio"] span .ui-corner-bottom,
div[date-theme="custom-radio"] span .ui-corner-top{
	border-radius: 0;
}


.mapFilterTxt{
	color:#787878;
}

.progress-label {
    float: left;
    margin-left: 30%;
    margin-top: 2px;
    font-weight: bold;
    text-shadow: none;
    font-size	: 14px;
  }
.ui-progressbar{
	height: 1.3em;
}
.fixedProgress{
	 margin-left: 40%;
}

