
/***************** pannel-button **********************************/


.pannelVerifyTab{
	border-right : 0;
	border-left : 1px solid #ED1B2C;
}


.pannelRegTab{
	border-left : 0;
	border-right : 1px solid #ED1B2C;
}