/* 
	****************************	Colors	************************************
	
	#528EBF		82	142	191				GRAY - Nav Bottons Separator
	#366E99		54	110	153				BLUE - Nav Bottons
	#44769E		68	118	158				BLUE - Nav Bottons

 */


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:15px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}


h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



/***************** Login ******************************/


input.ui-input-text.custom-text-input{
	border-radius:0em;
	border: none;
	background-color:transparent;
	padding-left:30px;
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	margin:0;
	font-family:Helvetica;
    font-weight: bold;
    font-size:15px;
    color : black;
    text-shadow	:none;
}


.homePageLogo{
	width	:80%;
	max-width: 314px;
	margin: 20px auto;
}

.loginLogoDiv{
	background-color: white;
	text-align : center;
	border-bottom: 3px solid gray;
	margin : -15px;
	margin-bottom : 15px;
}


[class~="costum-input-row"] {
	background:#EAE6E2;
	
}

[class~="costum-input-row-error"] {
	background:rgb(232,202,202);
}

#passwordInputRow{
	border-top-width : 0;
}

/*
.ui-input-text.ui-shadow-inset.ui-corner-all.ui-btn-shadow.ui-body-c{
	border-radius:0em;
	border: none;
	background-color:transparent;
	padding-left:30px;
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	margin:0;
	font-family:Helvetica;
    font-weight: bold;
    font-size:15px;
    color : black;
    text-shadow	:none;
}

*/


.ui-li-static.ui-li{
	padding-right:5px;
}

.costum-input-row{
	background-size:100% 100%; 
	background-repeat: no-repeat; 
}

.costum-input-row.ui-li-static.ui-li {
    padding-top:0px;
    padding-bottom:0px;
    border-radius	:0;
}




.textbox-hint-img{
	position:absolute;
	top:7px; 
	left:10px;
	width:18px;
	height:16px;
}

/***************** Custom Input ******************************/
.ui-input-text.ui-shadow-inset.ui-corner-all.ui-btn-shadow.ui-body-c{
	border-radius:.3em;
	
}

label.ui-input-text{
	color :gray;
	font-weight : bold;
}

/***************** Custom hr ******************************/
hr.splitter {
	height: 3px;
    border: 0;
    background-image:url(../img/border.png);
    background-repeat: none;
}

.ui-listview > hr.splitter {
	margin		: 0px;
}

hr.splitter.loginFormSplitter{
	background-image:url(../img/loginFormSeperator.png);
	
}

.ui-listview > hr.splitter.loginFormSplitter{
}


/***************** custom-button-1 **********************************/


div[data-theme="custom-button-1"] span .ui-btn-text  {
	
	data-shadow:false;
	border: none; 
	font-size:15px;
	color: #ffffff;
	font-weight: bold;
	text-shadow: none;
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	background-image: none;
	background-color:none ;
	
}

div[data-theme="custom-button-1"]  {
	border-radius:0em;
	border: none; 
	background-color:transparent ;
	data-corners:false;
	data-shadow:false;
	background-size:100% 100%; 
	background-repeat: no-repeat; 
	
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	
	height	: 37px
}


div[data-theme="custom-button-1"] .ui-btn-inner{
	padding-top	: 0.6em;
}


.ui-btn-up-custom-button-1, .ui-btn-hover-custom-button-1{
	background-image: url(../img/button.png);
}

/* Active State */
.ui-btn-down-custom-button-1,.ui-btn-active-custom-button-1,.aBtnSelector,.aBtnSelector-custom-button-1{
	background-image: url(../img/button-active.png);
}

/***************** custom-button-3 **********************************/


div[data-theme="custom-button-3"] span .ui-btn-text  {
	
	data-shadow:false;
	border: none; 
	color: #ffffff;
	font-weight: bold;
	font-size: 15px;
	text-shadow: none;
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	background-image: none;
	background-color:none ;
	
}

div[data-theme="custom-button-3"]  {
	border-radius:0em;
	border: none; 
	background-color:transparent ;
	data-corners:false;
	data-shadow:false;
	background-size:100% 100%; 
	background-repeat: no-repeat; 
	
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	height	: 37px
}


div[data-theme="custom-button-3"] .ui-btn-inner{
	padding-top	: 0.6em;
}


.ui-btn-up-custom-button-3, .ui-btn-hover-custom-button-3{
	background-image: url(../img/button3.png);
}

/* Active State */
.ui-btn-down-custom-button-3,.ui-btn-active-custom-button-3,.aBtnSelector,.aBtnSelector-custom-button-3{
	background-image: url(../img/button3-active.png);
}


.ui-listview.ui-listview-inset.ui-corner-all.ui-shadow{
	margin-top : 20px;
	margin-bottom: 20px;
}




/***************** pannel-button **********************************/


div[data-theme="pannel-button"] span .ui-btn-text  {
	
	data-shadow:false;
	border: none; 
	color: #ffffff;
	font-weight: bold;
	font-size: 15px;
	text-shadow: none;
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	background-image: none;
	background-color:none ;
	
}

div[data-theme="pannel-button"]  {
	border-radius:0em;
	border: none; 
	data-corners:false;
	data-shadow:false;
	background-size:100% 100%; 
	background-repeat: no-repeat; 
	
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	height	: 100%;
	
	margin: 0;
}


div[data-theme="pannel-button"] .ui-btn-inner{
	padding-top	: 1.2em;
	padding-bottom : 1em;
}


.ui-btn-up-pannel-button, .ui-btn-hover-pannel-button{
	background-color:#528EBF ;
}

/* Active State */
.ui-btn-down-pannel-button,.ui-btn-active-pannel-button,.aBtnSelector,.aBtnSelector-pannel-button{
	background-color:#366E99 ;
}


.ui-listview.ui-listview-inset.ui-corner-all.ui-shadow{
	margin-top : 20px;
	margin-bottom: 20px;
}


/***************** Navigation Bar **********************************/
.custom-navbar-1 {
	background-color:none ; 
	background-size:100% 100%; 
	background-repeat:repeat; 
	background-image: url(../img/nav_background.png);
	border-radius:0em 0em 0em 0em ;
	color: rgb(255, 255, 255);
	text-shadow	:none;
	height	: 42px;
}


 body .ui-header .ui-title {
 
 }

.ui-header .ui-title{
	font-family:Helvetica;
	font-size: 20px;
	font-weight	:bold;
	white-space: normal;
	margin-top	:9px;
}
.ui-header .ui-title { margin-right:50px; margin-left:50px; }


.navbar_separator{
	height: 70%;
	width : 3px;
	margin : 6px 2px auto 50px;
	float : left;
}

/***************** Menu Button **********************************/
a[data-theme="menu-button"].ui-btn-left.ui-btn.ui-shadow.ui-btn-corner-all {
	border: none;
    background-color:none ; 
    background-size:100% 100%; 
	background-repeat: no-repeat; 
	border-radius:0em;
	width:30px;
	height:25px;
    padding:0px;
	top : 8px;
	left : 10px;
}	


a[data-theme="menu-button"] .ui-btn-inner {
	border: 0px;
}

a[data-theme="menu-button"].ui-shadow{
    box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}


.ui-btn-up-menu-button{
	background-image: url(../img/menu_btn.png);
}

.ui-btn-down-menu-button,.ui-btn-hover-menu-button,.ui-btn-active-menu-button,.aBtnSelector-menu-button{
	background-image: url(../img/custom-btn-active.png);
}
/*****************  **********************************/

/***************** Next Button **********************************/
a[data-theme="next-button"].ui-btn-right.ui-btn.ui-shadow.ui-btn-corner-all {
	border: none;
    background-color:none ; 
    background-size:100% 100%; 
	background-repeat: no-repeat; 
	border-radius:0em;
	width:50px;
	height:30px;
    padding:0px;
	top : 6px;
}	


a[data-theme="next-button"] .ui-btn-inner {
	border: 0px;
}

a[data-theme="next-button"].ui-shadow{
    box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}


.ui-btn-up-next-button{
	background-image: url(../img/next_btn.png);
}

.ui-btn-down-next-button,.ui-btn-hover-next-button,.ui-btn-active-next-button,.aBtnSelector-next-button{
	background-image: url(../img/custom-btn-active.png);
}
/***************** Nav Pannel  **********************************/

.ui-li-has-icon .ui-btn-inner a.pannelText.ui-link-inherit{
	font-size: 20px; 
	color:gray;
	text-shadow:none;
	font-weight:normal;
	padding-left : 50px;
}

.ui-panel-position-left{

	-webkit-box-shadow	: inset -15px 0 5px -9px rgba(0,0,0,.15);
	-moz-box-shadow		: inset -15px 0 5px -9px rgba(0,0,0,.15);
	box-shadow			: inset -15px 0 5px -9px rgba(0,0,0,.15);
	
	background-image : linear-gradient(#ffffff,#f0f0f0);
	background-image : -o-linear-gradient(#ffffff,#f0f0f0);
	background-image : -ms-linear-gradient(#ffffff,#f0f0f0);
	background-image : -moz-linear-gradient(#ffffff,#f0f0f0);
	background-image : -webkit-linear-gradient(#ffffff,#f0f0f0);
	background-image : -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#f0f0f0));
}

.ui-panel-inner .ui-listview > .ui-li.ui-first-child{
	background-color : #528EBF;
	background-image : none;
	height	: 100px;
	padding : 0;
}

.ui-panel-inner .ui-listview > .ui-btn-up-c{
	-webkit-box-shadow	: inset -15px 0 5px -9px rgba(0,0,0,.15);
	-moz-box-shadow		: inset -15px 0 5px -9px rgba(0,0,0,.15);
	box-shadow			: inset -15px 0 5px -9px rgba(0,0,0,.15);
	
	background-image : linear-gradient(#ffffff,#f0f0f0);
	background-image : -o-linear-gradient(#ffffff,#f0f0f0);
	background-image : -ms-linear-gradient(#ffffff,#f0f0f0);
	background-image : -moz-linear-gradient(#ffffff,#f0f0f0);
	background-image : -webkit-linear-gradient(#ffffff,#f0f0f0);
	background-image : -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#f0f0f0));
}

.ui-panel-inner .ui-listview > .ui-li{
	border-top-width : 0;
}

.pannelUserTab{
	border-bottom : 2px solid #44769E;
}

.pannelVerifyTab{
	border-bottom : 2px solid #44769E;
	border-right : 1px solid #44769E;
}
.ui-icon.ui-icon-verify-icon.ui-icon-shadow{
	background-color : transparent;
	border-radius : 0;
	border-width : 0;
	-webkit-box-shadow	: none;
	-moz-box-shadow		: none;
	box-shadow			: none;
	background-image : url(../img/verify_icon.png);
	background-size : 100%;
	width : 20px;
	height : 20px;
	left : 10px;
}

.pannelRegTab{
	border-bottom : 2px solid #44769E;
	border-left : 1px solid #44769E;
}
.ui-icon.ui-icon-register-icon.ui-icon-shadow{
	background-color : transparent;
	border-radius : 0;
	border-width : 0;
	-webkit-box-shadow	: none;
	-moz-box-shadow		: none;
	box-shadow			: none;
	background-image : url(../img/changeuser_icon.png);
	background-size : 100%;
	width : 20px;
	height : 20px;
	left : 10px;
}

.ui-icon.ui-icon-loggedin-icon.ui-icon-shadow{
	background-color : transparent;
	border-radius : 0;
	border-width : 0;
	-webkit-box-shadow	: none;
	-moz-box-shadow		: none;
	box-shadow			: none;
	background-image : url(../img/loggedin_icon.png);
	background-size : 100%;
	width : 40px;
	height : 40px;
	left : 10px;
	top : 30%;
}

#pannelUserBtn{
	border: none;
}

.ui-li-icon.nav-thumb.ui-li-thumb{
	max-height : 25px;
	max-width	: 25px;
}


.pannelText.ui-link-inherit{}

/***************** Nav Pannel  **********************************/
.ui-icon.ui-icon-arrow-r.ui-icon-shadow{}
.ui-li-count.ui-btn-up-c.ui-btn-corner-all{}



a[data-theme="custom-button"] {
    border: none;
    }
    
a[data-theme="custom-button"] .ui-shadow {
    border: none;
    background-color:none ; 
    background-size:100% 100%; 
	background-repeat: no-repeat; 
	border-radius:0em;
	width:55px;
	height:30px;
    padding:0px;
    padding-right: 5px !important;
}

a[data-theme="custom-button"] .ui-btn-corner-all {
	background-image: url(../img/custom-btn.png);
}

/* shadows and label color */
a[data-theme="custom-button"].ui-shadow,
a[data-theme="custom-button"] {
    box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
    background-clip: none; -webkit-background-clip: none; -moz-background-clip: none;
    color: rgb(255, 255, 255);
    /*font-family:Helvetica;
    font-weight: bold;*/
    font-family:Trebuchet MS;
    top: 5px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
    }
/* make room for the point */
a[data-theme="custom-button"].ui-btn-right {
	right: 7px;
}
	
a[data-theme="custom-button"].ui-btn-right .ui-btn-corner-all {
       /*  padding-right: 5px !important; */
        padding-left: 5px !important;
}
		
a[data-theme="custom-button"] span .ui-btn-text  {
	 top:20%; 
	 font-size:10pt;
	 text-align: center;
}


.ui-btn-up-custom-button{
	background-image: url(../img/custom-btn.png);
}

.ui-btn-down-custom-button,.ui-btn-hover-custom-button,.ui-btn-active-custom-button,.aBtnSelector-custom-button{
	background-image: url(../img/custom-btn-active.png);
}


.appoListSplitter {bottom: 0;}
.appoTitle{
	font-size: 20px;
	text-align : left;
	font-weight: bold;
	margin: 5px 3px;
}

.appoDrName{
	font-size: 15px;
	text-align : left;
	color: gray;
	margin: 5px 3px;
}

.appoDetails{
	font-size: 12px;
	text-align : left;
	color: gray;
	font-weight: bold;
	margin: 5px 3px;
}
.app-cal-img{
	float:left;
	width: 15px;
	height: 20px;
}

.app-bill-img{
	float:right;
	width: 30px;
	height: 30px;
	margin:5px;
}

.appo-dr-img{
	width: 50px;
	height: 50px;
	float:left;
}

.drProfDetails{
	font-size: 15px;
	text-align : left;
	color: gray;
	margin: 5px;
}

.drProfName{
	font-size: 20px;
	text-align : left;
	font-weight: bold;
	margin: 5px 3px;
}
