

#guestUserDiv{
	background:#e3e3e3
	width: 200px
}

#guestUserBtn{
	width:200px
}


.loginGrid{
	MARGIN:0pt auto; 
	WIDTH:auto !important
}


TABLE {
    width: 100%;
}

.ui-dialog .ui-header{ 
	max-width: 500px; 
	margin: 50% auto 0px auto; 
}


 
   .hint 
{
	FONT-FAMILY: Tahoma; FONT-SIZE: 10px;
}

.hint-text-lb{
	color:gray;
}

#box
{
        width: 150px;
        height: 150px;
        background: #FFF;
        border: red dotted 5px;
        text-align: center;
        position: fixed;
        margin-left: -75px;
        margin-top: -75px;
        left: 50%;
        top: 50%;
        z-index: 20;
        display: none;
}

#screen
{
        position: absolute;
        left: 0;
        top: 0;
        background: #000;
        z-index: 19;
}


