<<<<<<< HEAD:source/www/css/index_ar.css

/***************** pannel-button **********************************/


.pannelVerifyTab{
	border-right : 0;
	border-left : 1px solid #ED1B2C;
}


.pannelRegTab{
	border-left : 0;
	border-right : 1px solid #ED1B2C;
}

/***************** Appo List **********************************/

.app-cal-img{
	float:right;
}

.app-bill-img{
	float:left;
}


/***************** News **********************************/


.ui-icon.ui-icon-disclosure-icon.ui-icon-shadow{
	background-image : url(../img/disclosure_icon.png);
}

.ui-li-has-arrow .ui-btn-inner a.news-cell.ui-link-inherit{
	padding-left	: 3px;
	
}

/*****************  MyDrs **********************************/

.ui-li-has-arrow .ui-btn-inner a.dr-cell.ui-link-inherit{
	padding	:0em 80px 0em 15px;	
}



.news-title{
	margin-left : 10px;
	margin-right : 0;
}
.news-date{
	text-align: left;
}


.news-details-header-date-div{
	text-align: left;
}

/***************** New Appo **********************************/

.ui-li .ui-btn-inner a.new-appo-cell.ui-link-inherit{
	padding : .3em 50px 0 15px
}


.newAppoDisclosure{
	position: absolute;
	right : auto;
	left	: 5px;
}


hr.splitter.newAppoSplitter{
	background-image:url(../img/loginFormSeperator.png);
	margin-right : auto;
	margin-left : 5px;
}


.search-result-header-icon{
	float : right;
	margin-right: auto;
	margin-left: 3px;
}

a[data-theme="appo-result-list"].ui-btn-icon-right .ui-icon{
	right: auto;
	left: 10px;
}

.ui-collapsible-heading a[data-theme="appo-result-list"].ui-btn-icon-right .ui-btn-inner{
	padding-right : 12px;
	padding-left : 40px;
}

.ui-li-has-arrow .ui-btn-inner a.drSearch-cell.ui-link-inherit{
	padding	:0.7em 80px 0em 15px;	
}

table[class="drAppo-days"] tr td:first-child,
table[class="drAppo-days"] tr th:first-child {
  border-left: auto;
  border-right: 0;
}
table[class="drAppo-days"] tr td:last-child,
table[class="drAppo-days"] tr th:last-child {
  border-right: auto;
  border-left: 0;
=======

/***************** pannel-button **********************************/

.ui-li-has-icon .ui-btn-inner a.pannelText.ui-link-inherit{
	padding-left : 15px;
	padding-right : 50px;
}


.ui-li-icon.nav-thumb.ui-li-thumb{
	
	left: auto;
	right: 5px;
}


.pannelVerifyTab{
	border-right : 0;
	border-left : 1px solid #ED1B2C;
}


.pannelRegTab{
	border-left : 0;
	border-right : 1px solid #ED1B2C;
}

/***************** Appo List **********************************/

.app-cal-img{
	float:right;
}

.app-bill-img{
	float:left;
}


/***************** News **********************************/


.ui-icon.ui-icon-disclosure-icon.ui-icon-shadow{
	background-image : url(../img/disclosure_icon.png);
}

.ui-li-has-arrow .ui-btn-inner a.news-cell.ui-link-inherit{
	padding-left	: 3px;
	
}

/*****************  MyDrs **********************************/

.ui-li-has-arrow .ui-btn-inner a.dr-cell.ui-link-inherit{
	padding	:0em 80px 0em 15px;	
}



.news-title{
	margin-left : 10px;
	margin-right : 0;
}
.news-date{
	text-align: left;
}


.news-details-header-date-div{
	text-align: left;
}

/***************** New Appo **********************************/

.ui-li .ui-btn-inner a.new-appo-cell.ui-link-inherit{
	padding : .3em 50px 0 15px
}


.newAppoDisclosure{
	position: absolute;
	right : auto;
	left	: 5px;
}


hr.splitter.newAppoSplitter{
	background-image:url(../img/loginFormSeperator.png);
	margin-right : auto;
	margin-left : 5px;
}


.search-result-header-icon{
	float : right;
	margin-right: auto;
	margin-left: 3px;
}

a[data-theme="appo-result-list"].ui-btn-icon-right .ui-icon{
	right: auto;
	left: 10px;
}

.ui-collapsible-heading a[data-theme="appo-result-list"].ui-btn-icon-right .ui-btn-inner{
	padding-right : 12px;
	padding-left : 40px;
}

.ui-li-has-arrow .ui-btn-inner a.drSearch-cell.ui-link-inherit{
	padding	:0.7em 80px 0em 15px;	
}

table[class="drAppo-days"] tr td:first-child,
table[class="drAppo-days"] tr th:first-child {
  border-left: auto;
  border-right: 0;
}
table[class="drAppo-days"] tr td:last-child,
table[class="drAppo-days"] tr th:last-child {
  border-right: auto;
  border-left: 0;
>>>>>>> origin/master:res/css/index_ar.css
}